{{ define "main" }}
<section class="hero is-bold" style="background-color: #3caa50;">
  <div class="hero-body">
    
    <div class="container" style="margin-top:2rem;">
      <div class="columns">
        <div class="column has-text-centered">
          <a href="https://www.facebook.com/EspoirBbc/" style="color: #e8e8e8;">
            <span class="icon">
              <i class="fab fa-3x fa-facebook"></i>
            </span>
          </a>
        </div>
        <div class="column has-text-centered">

          <a href="https://twitter.com/BbcEspoir" style="color: #e8e8e8;">
            <span class="icon">
              <i class="fab fa-3x fa-twitter"></i>
            </span>
          </a>
        </div>
        <div class="column has-text-centered">

          <a href="https://www.instagram.com/espoir_basketball_club/" style="color: #e8e8e8;">
            <span class="icon">
              <i class="fab fa-3x fa-instagram"></i>
            </span>
          </a>
        </div>
        <div class="column has-text-centered">

          <a href="https://makeachamp.com/espoirbasketballclub/35801" style="color: #e8e8e8;">
            <span class="icon">
              <i class="fas fa-3x fa-donate"></i>
            </span>
          </a>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="hero is-meium is-bold">
  <div class="hero-body">
    <div class="container">
      <img src="img/logo.svg" width="100%">
    </div>
    <div class="container">
      <h1 class="has-text-black has-text-centered has-text-weight-bold" style="font-size: 5rem;">
        Website under contruction
      </h1>
    </div>
  </div>
</section>

<section class="hero is-bold">
  <div class="hero-body">
    
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <a href="https://www.facebook.com/EspoirBbc/" style="color: #a8a8a8;">
            <span class="icon">
              <i class="fab fa-3x fa-facebook"></i>
            </span>
          </a>
        </div>
        <div class="column has-text-centered">

          <a href="https://twitter.com/BbcEspoir" style="color: #a8a8a8;">
            <span class="icon">
              <i class="fab fa-3x fa-twitter"></i>
            </span>
          </a>
        </div>
        <div class="column has-text-centered">

          <a href="https://www.instagram.com/espoir_basketball_club/" style="color: #a8a8a8;">
            <span class="icon">
              <i class="fab fa-3x fa-instagram"></i>
            </span>
          </a>
        </div>
        <div class="column has-text-centered">

          <a href="https://makeachamp.com/espoirbasketballclub/35801" style="color: #a8a8a8;">
            <span class="icon">
              <i class="fas fa-3x fa-donate"></i>
            </span>
          </a>
        </div>
      </div>
    </div>

  </div>
</section>
{{ end }}